.navbar-brand {
    padding: 0;
}
.navbar-toggler-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #191919;
    margin-right: 12px;
}
.navbar-current {
    padding: 13px 0;
    border-bottom:1px solid #EFEEEF;
}
.navbar-toggler-icon{
    width: 25px;
    height: 18px;
}
.container-nav {
    max-width: 1368px;
}
.nav-item-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    position: relative;
    color: #191919;
}
.nav-item-link.active {
  color: #EB0A1E;
}
.nav-item-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 2px;
  background-color: #EB0A1E;
}

/* offcanvas */
.navbar-current .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}
.btn-close-custom {
    background: none;
    width: auto;
    height: auto;
    padding: 0 !important;
    margin-left: 0 !important;
    box-shadow: none !important;
}
.offcanvas-header-custom {
    border-bottom: 1px solid #EFEEEF;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;
}
.navbar-nav-custom {
    border-bottom: 1px solid #EFEEEF;
}
.btn-close-text {   
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #191919;
}
.offcanvas-body {
    padding: 0;
    background-color: #EFEEEF;
}
.offcanvas-body-container-close {
    padding: 18px 27px 0 0;
    background-color: #FFFFFF;
}
.offcanvas-body-container-ul {
    background-color: #FFFFFF;
}
.offcanvas-custom ul {
    padding: 30px 25px 30px 0;
    margin: 0 20px 0 20px;
}
.offcanvas-custom ul li .nav-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.1px;
    text-align: right;
    color: #191919;
    padding: 0;
}
.offcanvas-custom ul li:not(:last-child) .nav-link {
    padding: 0 0 13px 0;
}