.sort-select {
    position: relative;
}
.sort-trigger {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.08px;
    text-align: right;
    color: #373737;
    display: flex;
    gap: 10px;
}
.sort-trigger:hover {
    cursor: pointer;
}
.sort-options {
    position: absolute;
    right: 0;
    top: 25px;
    padding: 0;
    text-decoration: none;
    list-style: none;
    width: 170px;
    box-shadow: 2px 8px 20px 0px #00000026;
    background-color: #FFFFFF;
}
.sort-options li {
    font-weight: 400;
    font-size: 10px;
    line-height: 35px;
    letter-spacing: -0.1px;
    border-bottom: 1px solid #EFEEEF;
    padding: 0 16px;
}
.sort-options li:hover {
    background: #D1D6D634;
    cursor: pointer;
}
.sort-options li.active{
    background: #D1D6D634;
}